<div style="margin-left: 10px;">
	<div>Welcome, {{vm.data.userWrapper.user.username}}</div>
	<br>
	<div>Online Users</div>
	<div style="width: 25%; border: 1px solid black;">
		<div ng-repeat="user in vm.data.userWrapper.loggedInUsers">
			<a ng-click="vm.events.startChat(user)">{{user.username}}</a>
		</div>
	</div>
	<br>
	<div>Select a user above to chat with them</div>
	<br>
	<div>
		<div>Conversations</div>
		<div style="min-height: 100px;">
			<div style = "width: 15%; min-width: 15%; float: left; border: 1px solid black;  min-height: 100px; overflow-y: scroll;">
				<div ng-repeat="conversation in vm.data.userWrapper.conversations" style="padding-bottom: 3px; border-bottom: 1px solid black; padding-top: 3px; padding-left: 3px;" ng-click="vm.events.selectConversation(conversation)"
					ng-class="{'bg-lightblue': conversation.username === vm.data.selectedConversationWrapper.conversation.username}">
					{{conversation.username}}
				</div>
			<div ng-if="vm.data.userWrapper.conversations.length === 0">&nbsp;</div>
			</div>
			<div style= "width: 80%; min-width: 80%; border: 1px solid black; min-height: 100px; max-height: 100px; float: left; overflow-y: scroll;">
				<div style="margin-left: 5px; margin-top: 1px; margin-bottom: 1px;" ng-repeat="message in vm.data.selectedConversationWrapper.conversation.history">{{::message.from}}:&nbsp;{{::message.message}}</div>				
			</div>
			<div style="clear: both;"></div>
		</div>
		<textarea style="min-height: 50px; border: 1px solid black; width: 95%;" ng-model="vm.data.chatTo" ng-keyup="$event.keyCode == 13 && vm.events.submitMessage()"></textarea>
		<br>
		<button style="margin-topL 5px;" ng-click="vm.events.submitMessage()">Submit</button>	
	</div>
	<!-- <div ng-if="!!vm.data.selectedUser">
		<div>Chating with {{vm.data.selectedUser.username}}</div>
		<div>Conversation</div>
		<textarea ng-disabled="true" readonly ng-model="vm.data.chatFrom"></textarea>
		<br>
		<div>Type Something...</div>
		<textarea ng-model="vm.data.chatTo"></textarea>
		<br>
		<button ng-click="vm.events.submitMessage(vm.data.selectedUser)" ng-disabled="!vm.data.sendEnabled">Submit</button>	
	</div> -->
</div>
