<div style="margin-left: 10px;">
	<div>Welcome, {{vm.data.userWrapper.user.username}}</div>
	<br>
	<div>Online Users</div>
	<div style="width: 25%; border: 1px solid black; height: 200px; overflow-y: scroll;">
		<div ng-repeat="user in vm.data.userWrapper.loggedInUsers">
			<a ng-click="vm.events.startChat(user)">{{user.username}}</a>
		</div>
	</div>
	<br>
	<div>Select a user above to chat with them</div>
	<br>
	<div>
		<div>Conversations</div>
		<div style="width: 95%">
			<div style="min-height: 100px;">
				<div style = "width: 240px; min-width: 120px; float: left; border: 1px solid black;  min-height: 100px; overflow-y: scroll;  height: 300px;">
					<div ng-repeat="conversation in vm.data.userWrapper.conversations" style="padding-bottom: 3px; border-bottom: 1px solid black; padding-top: 3px; padding-left: 3px; float: left; width: 100%;" ng-click="vm.events.selectConversation(conversation)"
						ng-class="{'bg-lightblue': conversation.id === vm.data.selectedConversationWrapper.conversation.id}">
						<span style="z-index: 1;">{{vm.data.getParticipants(conversation.participants)}}</span>
						<span style="float: right; margin-right: 5px; z-index: 2;" ng-click="vm.events.addUser(conversation)">+</span>
					</div>
					
					<div ng-if="vm.data.userWrapper.conversations.length === 0">&nbsp;</div>
				</div>
				<div style= "border: 1px solid black; min-height: 100px; height: 300px;; overflow-y: scroll;" scroll-bottom="vm.data.selectedConversationWrapper.conversation.history">
					<div style="margin-left: 5px; margin-top: 1px; margin-bottom: 1px;" ng-repeat="message in vm.data.selectedConversationWrapper.conversation.history" ng-class="{'systemMessage': message.from === ''}">{{vm.display.formatMessageText(message)}}</div>	
				</div>
				<div style="clear: both;"></div>
			</div>
			<textarea style="width: 99.85%; height: 100px; border: 1px solid black; word-wrap: break-word; padding: 0px;" ng-model="vm.data.chatTo" ng-keyup="$event.keyCode == 13 && vm.events.submitMessage()"></textarea>
			<br>
		</div>
		<button style="margin-topL 5px;" ng-click="vm.events.submitMessage()">Submit</button>	
	</div>
	<!-- <div ng-if="!!vm.data.selectedUser">
		<div>Chating with {{vm.data.selectedUser.username}}</div>
		<div>Conversation</div>
		<textarea ng-disabled="true" readonly ng-model="vm.data.chatFrom"></textarea>
		<br>
		<div>Type Something...</div>
		<textarea ng-model="vm.data.chatTo"></textarea>
		<br>
		<button ng-click="vm.events.submitMessage(vm.data.selectedUser)" ng-disabled="!vm.data.sendEnabled">Submit</button>	
	</div> -->
</div>

<!-- The Modal -->
<div id="myModal" class="modal" ng-if="!!vm.data.showAddUserModal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" ng-click="vm.data.showAddUserModal = false">x</span>
    <div>Choose a user to add:</div>
    <br>
    <div style="border: 1px solid black; margin: 5px;">
    	<div style="margin-top: 3px; margin-left: 3px;" ng-repeat="user in vm.data.conversationCandidateList" ng-class="{'bg-lightblue': user.username === vm.data.userToAdd}" ng-click="vm.data.userToAdd = user.username">
    		{{user.username}}
    	</div>
    </div>
    <br>
    <button ng-click="vm.events.addUserToConversation(vm.data.userToAdd)">Submit</button>
  </div>

</div>
