<div style="display: table; margin: 0 auto; width: 80%; margin-top: 100px;">
	<div style="display: table; margim: 0 auto;">
		<div>
			<label style="width: 20%;">Username</label>
			<input type="text" id="login" ng-model="vm.data.userinfo.username" ng-keyup="$event.keyCode == 13 && vm.events.login()">
		</div>
		<div>
			<label style="width: 20%;">Password</label>
			<input type="password" id="password" ng-model="vm.data.userinfo.password" ng-keyup="$event.keyCode == 13 && vm.events.login()">
		</div>
		<div ng-if="!!vm.errors.loginError" style="color: red;">Incorrect Username or Password</div>
		<div ng-if="!!vm.data.registerComplete && !!vm.errors.registerError" style="color: red;">Error registering</div>
		<div ng-if="!!vm.data.registerComplete && !vm.errors.registerError" style="color: green;">Registration successful</div>
		<div style="margin-top: 10px;">
			<button ng-click="vm.events.login()">Login</button>
			<button style="float: right;" ng-click="vm.data.showRegisterModal = true; vm.data.register = {}">Create Account</button>
		</div>
	</div>
</div>

<div id="registerModal" class="modal" ng-if="!!vm.data.showRegisterModal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" ng-click="vm.data.showRegisterModal = false">x</span>
	<div>
		<label style="width: 20%;">Username</label>
		<input type="text" id="login" ng-model="vm.data.register.username" ng-keyup="$event.keyCode == 13 && vm.events.login()">
	</div>
	<div>
		<label style="width: 20%;">Password</label>
		<input type="password" id="password" ng-model="vm.data.register.password" ng-keyup="$event.keyCode == 13 && !!vm.data.register.username && !!vm.data.register.password && vm.events.login()">
	</div>
	<div style="margin-top: 10px;">
		<button ng-click="vm.events.register()">Register</button>
		<button style="float: right;" ng-disabled="!!vm.data.registerInProgress" ng-click="vm.data.showRegisterModal = true"></button>
	</div>
  </div>

</div>
